@import "tailwindcss";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: font1;
    src: url('./fonts/JosefinSans-VariableFont_wght.ttf');
}

@font-face {
    font-family: bold1;
    src: url('./fonts/JosefinSans-Medium.ttf');
}

*::-webkit-scrollbar {
    display: none;
}